@model Models.Room
@{
    ViewBag.Title = "Details";
}

<h1>Detaljer</h1>

<h2>@Model.Section.Name </h2>
<button> Inviter ven </button>
<h3> @Model.Point Point</h3>


@foreach (var item in Model.Levels)
{
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-id ="@item.Level.ID">@item.Level.Name</button>
    

}

<!-- Modal BootStrap -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <iframe id="quizFrame"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
                <button type="button" class="btn btn-primary">Næste</button>
            </div>
        </div>
    </div>
</div>
<!-- 	$("#---") take the ID -->
<script>$("#myModal").on("show.bs.modal", function (e) {
    var id = e.relatedTarget.dataset.id;
    
    $("#quizFrame").attr("src", "/Quiz/index?levelID=" + id);
})</script>