body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Rest buttons are greyed out*/
.level_buttons button[disabled]{
    background-color:gray;
 
}
/*The first button*/
.level_buttons button:nth-of-type(1)
{
    background-color: green;
}
/*The second button*/
.level_buttons button:nth-of-type(2)
{
    background-color: yellowgreen;
}
/*The three button*/
.level_buttons button:nth-of-type(3)
{
    background-color: orangered;
}
/*The fourth button*/
.level_buttons button:nth-of-type(4)
{
    background-color: red;
}
/*The fifth button*/
.level_buttons button:nth-of-type(5)
{
    background-color: red;
}
/*The space between the buttons*/
.level_buttons button {

    margin:10px;
}
/*This unicode show the padlock*/
.level_buttons button[disabled]::after{
    content:"\f023"; 
    font-family:FontAwesome;
    margin: 5px;
 
}