@{
    ViewBag.Title = "Spilleregler";
    ViewBag.Message = "Rammerne for quizspillet:";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



<body>

    <ul>
        <li>Uregistrerede brugere skal registreres på hjemmesiden. </li>
        <li>Registrerede brugere kan invitere deres venner via brugernavn. </li>
        <li>Der kan vælges mellem kategorierne Barcelona, Real Madrid og El Clasico. </li>
        <li>
            Brugere, der inviterer venner som har til hensigt at spille det samme quizspil skal udgør som et hold.
            <br />Hver kandidat i holdet har hver deres pointfordeling og forudsætning for at holdet får lov til at hoppe videre til næste udfordring er at de skal opnå et vist antal point.
            <br /> Hver sværhedsgrad har sin krav før man tager næste udfordring.
        </li>
        <li>Holdets samlede antal point spiller en stor rolle fremfor de individuelle præstationerne.</li>
        <li>Alle sværhedsgrader i en given kategori har adgang til ca. 50 spørgsmål og for underholdnings skyld er der implementeret en random-funktionalitet. </li>
        <li>Alle kategorier har højst 5 sværhedsgrader, når man tager quizzen.  Sværhedsgraderne låses op alt efter de opnåede point. </li>
        <li>”El clasico” er tiltænkt som et blandet hold uanset partiskhed. </li>
    </ul>
    </body>






